* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#wrapper {
  max-width: 600px;
  margin: 0 auto;
}

#sudoku-board {
  /* background-color: rgba(156, 156, 156, 0.212); */
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(9, minmax(0, 1fr));
  aspect-ratio: 1 / 1;
  margin: 15px;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.sudoku-board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 2em;
}

.sudoku-board-cell:nth-of-type(3n) {
  border-right: 3px solid black;
}

.sudoku-board-cell:nth-child(n+19):nth-child(-n+27),
.sudoku-board-cell:nth-child(n+46):nth-child(-n+54),
.sudoku-board-cell:nth-child(n+73):nth-child(-n+81) {
  border-bottom: 3px solid black;
}

@keyframes flashBlueAnimation {
  0%  { background-color: #1AA7EC; opacity: 0.2; }
  25%  { background-color: #1AA7EC; opacity: 0.4; }
  50%  { background-color: #1AA7EC; opacity: 0.6; }
  100%  { background-color: #1AA7EC; opacity: 0.8; }
}

.added {
  animation: flashBlueAnimation 0.8s;
}

input {
  background: none;
  font-size: 1em;
  text-align: center;
  width: 2em;
  height: 2em;
  max-width: 100%;
  border: 0;
  outline: 0;
}

.invalid {
  background-color: rgba(216, 29, 29, 0.3);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#button-generate, 
#button-reset, 
#button-solve {
  font-family: 'Courier New', Courier, monospace;
  min-width: 120px;
  margin: 5px 0;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#button-generate {
  background: rgb(28, 184, 65);
  /* this is a green */
}

#button-reset {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

#button-solve {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}